* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #0d0315;
  --grey: #161522;
  --blue: darkslateblue;
  --purple: #9325e4;
  --white: whitesmoke;

  --sm: 18px;
}

body {
  background-color: var(--dark);
  color: var(--white);
}

h1 {
  color: var(--purple);
}

p {
  font-size: var(--sm);
}

a {
  color: var(--purple);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  text-align: center;
  font-size: var(--sm);
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 8px;
}

input:focus {
  outline: 2px solid var(--purple);
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.warning {
  position: absolute;
  top: 0;
  z-index: 10;
  text-align: center;
  background-color: var(--purple);
  color: var(--white);
  padding: 20px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
}

.bio p {
  margin-block: 0.5rem;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: var(--purple);
  color: var(--white);
  font-size: var(--sm);
  font-weight: bold;
}

.waveButton:focus {
  outline: 2px solid var(--white);
}

.avatar {
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.account {
  text-align: center;
  margin-bottom: 1rem;
}

.account span {
  font-size: var(--sm);
  font-weight: bold;
  color: var(--purple);
}

.accountDetail {
  margin-block: 1rem;
}

.msgFeed {
  margin-block: 1rem;
}

.msgContainer {
  background-color: var(--grey);
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.msgContainer h2 {
  color: whitesmoke;
}

.msgContainer p {
  margin-block: 0.5rem;
}
